/* khalid link the font style monteserra here */
header {
    background-color: antiquewhite;
    width: 100%;
    color: brown;
}
/* Khalid Style the main body of your index page here based on what Aliyah does*/
/* Khalid endure the footer stays at the bottom of the page*/
footer {
    background-color: antiquewhite;
}
